{{extend 'layout.html'}}
<html>
<body class='wb-body' style="background-image:url('{{=URL('static', 'images/shark_bg.jpg')}}')">
<h2>Idea Tank</h2>
<div class="well">
    <table class="table">
    {{=TR(TH('Title'),TH('UpVote'),TH('DownVote'),TH('Posted'),TH('Active'))}}
    {{for idea in ideas:}}
     {{=TR(
    TD(A(idea['Title'], _href=URL('default', 'showIdea', args=[idea['ID']]))),
    TD(idea['UpVote']),
    TD(idea['DownVote']),
    TD(idea['Posted'].strftime('%I:%M %p %m/%d/%Y')),
    TD(idea['Active'])
    )}}
    {{pass}}
    </table>
</div>
</body>
</html>
