{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../static/js/chart.js"></script>
</head>

<h3>
    <center>Have you ever had an idea and wondered if it was good?<br>
        Welcome to SharkTank. A crowd sourcing platform where people can create and<br>
        expand on great ideas, or get eaten up in the abyss where bad ideas go to die.<br>
        There is no cage, chain-mail wetsuits or any kind of weaponery.<br>
        There is just you, an idea, sharks and a shit-ton of chum in the water.<br>
        So dive in!
    </center>
</h3>


{{block header}}
<header class="container-fluid background">
    <div class="jumbotron text-center">
    {{if response.title:}}
        <h1>{{=response.title}}
            <small>{{=response.subtitle or ''}}</small>
        </h1>
    {{pass}}
    </div>
</header>
{{end}}


{{block right_sidebar}}
<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
                                                          href="{{=URL('admin','default','index')}}">
        <i class="glyphicon glyphicon-cog"></i>
    {{=T("admin")}}
    </a></h3></div>
    <div class="panel-body">
    {{=T("Here are some helpful links.")}}
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
    </ul>
</div>
{{end}}

<br>
<body>
<center>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</center>
</body>
