{{extend 'layout.html'}}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
         <div class="item">
            <div style="text-align: center;"><img src="../static/images/shark_bg.jpg" height = "200" width = "800"/></div>
         </div>
      </div>
      <div class="container text-center">
         <br>
         <h3>Welcome, {{=db.auth_user[auth.user_id].first_name}}!</h3>
      </div>
      <div class="container text-center">
         <button type="button">About</button>
         <button type="button">Social</button>
         <button type="button">Edit Profile</button>
      </div>
      <div class="container text-center">
         <div class="row">
            <div class="col-sm-4">
               <h3>My Ideas</h3>
               <div class="well">
                  <p>My Idea 1</p>
               </div>
               <div class="well">
                  <p>My Idea 2</p>
               </div>
               <div class="well">
                  <p>My Idea 3</p>
               </div>
            </div>
            <div class="col-sm-4">
               <h3>My Groups</h3>
               <div class="well">
                  <p>Group 1</p>
               </div>
               <div class="well">
                  <p>Group 2</p>
               </div>
            </div>
            <div class="col-sm-4">
               <h3>Project Ranking</h3>
                <div class="well">
                  <p>#1 Idea 1</p>
               </div>
               <div class="well">
                  <p>#2 Idea 3</p>
               </div>
               <div class="well">
                  <p>#2 Idea 2</p>
            </div>
         </div>
      </div>
      <footer class="container-fluid text-center">
         <p>Shark tank</p>
      </footer></div>
