{{extend 'layout.html'}}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .btn {
      background: #cc5e00;
      color: #ffffff;
      }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class='wb-body'>
<h2>Group Member details</h2>
<table class="table">
{{=TR(TH(T('First Name')),TH(T('Last Name')),TH(T('Email')))}}
{{for row in rows:}}
    <tr>
    {{=TD(T(str(row.auth_user.first_name)))}}
    {{=TD(T(str(row.auth_user.last_name)))}}
    {{=TD(T(str(row.auth_user.email)))}}
    </tr>
{{pass}}
</table>
<div><a class="btn" href="{{=URL('showIdea', args=request.args(0))}}">Back to Idea</a></div>
</body>
</html>
