{{extend 'layout.html'}}
<html>


   <body class='wb-body' style="background-image:url('{{=URL('static', 'images/shark_bg.jpg')}}')">
      <div class="well">
          <div class="details">
              <!-- If there is a picture, present it to them -->
              {{if thePost.documents:}}
                <img width="400" class="right" src="{{=URL('default', 'download', args=thePost.documents)}}" />
              {{pass}}
              <h2 class="left">{{=thePost.title}}</h2>
              <h4 class="right">Created: {{=thePost.startdate.strftime('%I:%M %p %x')}}</h4>
              <br /><br /><br />
              <div class="desc"><h4>{{=thePost.description}}</h4></div>




          </div>

          <div class="comments">
              <h2>What others are saying</h2>

                {{if len(comments) > 0:}}
                    {{for post in comments:}}
                         <p>{{=post.author}} :  {{=post.p_content}}
                            {{pass}}
                            {{if post.user_id==auth.user_id:}}
                            <a href="{{=URL('default', 'editPost', args=[post.id])}}">Edit Comment</a>
                         </p>
                    {{pass}}
                {{else:}}
                        {{=A(H5(T('Be the first comment!')), _href=URL('default', 'createComment'))}}
                {{pass}}
          </div>

            {{if auth.user_id:}}
                     <!-- Hidden field to hold data for the ajax call-->
                     <form><input type="hidden" id="id" name="id" value="" /></form>
                     <h2>What do you think {{=db.auth_user[auth.user_id].first_name}}?</h2>
                     <div>
                        <a class="btn" href="{{=URL('createComment', args=thePost.id)}}">Comment</a>
                        <a class="btn" href="{{=URL('showGroupMembers', args=thePost.id)}}">Show the Group</a>
                        {{if not db.idea_group(user_id=auth.user_id, idea_id=thePost.id, g_privileges='O'):}}




                             <!-- Check if they are already a follower, give them an unfollow link and a request contribute link -->
                             {{if db.idea_group(user_id=auth.user_id, idea_id=thePost.id, g_privileges='F'):}}
                                {{=SPAN(
                                        BUTTON("Unfollow",
                                            _class='btn',
                                            _id='follow',
                                            _onclick="jQuery('#id').val('" + request.args[0] +
                                                    "');ajax('" + URL('default', 'unfollow') + "', ['id'], 'foll');" ),
                                        _id='foll')
                                }}

                                {{=SPAN(
                                        BUTTON("Request Contribution",
                                            _class='btn',
                                            _id='contrib',
                                            _onclick="jQuery('#id').val('" + request.args[0] +
                                                    "');ajax('" + URL('default', 'contribRequest') + "', ['id'], 'contrib');" ),
                                        _id='contrib')
                                }}

                            <!-- If they are already a contributor, present an uncontribute button-->
                            {{elif db.idea_group(user_id=auth.user_id, idea_id=thePost.id, g_privileges='C'):}}
                                {{=SPAN(
                                            BUTTON("Follow",
                                                _class='btn',
                                                _id='follow',
                                                _onclick="alert('You are already a contributor!')" ),
                                            _id='foll')
                                }}
                                {{=SPAN(
                                            BUTTON("Remove Contribution",
                                                _class='btn',
                                                _id='contrib',
                                                _onclick="jQuery('#id').val('" + request.args[0] +
                                                        "');ajax('" + URL('default', 'stop_contrib') + "', ['id'], 'contrib');" ),
                                            _id='contrib')
                                }}

                            <!-- If they are neither a follower or contributor, present both buttons-->
                            {{else:}}
                                    {{=SPAN(
                                            BUTTON("Follow",
                                                _class='btn',
                                                _id='follow',
                                                _onclick="jQuery('#id').val('" + request.args[0] +
                                                        "');ajax('" + URL('default', 'follow') + "', ['id'], 'foll');" ),
                                            _id='foll')
                                    }}

                                    {{=SPAN(
                                            BUTTON("Request Contribution",
                                                _class='btn',
                                                _id='contrib',
                                                _onclick="jQuery('#id').val('" + request.args[0] +
                                                        "');ajax('" + URL('default', 'contribRequest') + "', ['id'], 'contrib');" ),
                                            _id='contrib')
                                    }}
                            {{pass}}


                            {{pass}}
                            {{=BUTTON("Upvotes" , SPAN(" (" + str(upvotes) + ")", _id="upvote"), _class="btn",
                                        _onclick="jQuery('#id').val('" + request.args[0] + \
                                                        "');ajax('" + URL('default', 'upvote') + "', ['id'], 'upvote');")
                            }}
                            {{=BUTTON("Down Votes" , SPAN(" (" + str(downvotes) + ")", _id="upvote"), _class="btn",
                                        _onclick="jQuery('#id').val('" + request.args[0] + \
                                                        "');ajax('" + URL('default', 'downvote') + "', ['id'], 'downvote');")
                            }}
                     </div>
            {{else:}}
                <h2><a href="{{=URL('default', 'user', args=['login'])}}">Log In</a> to leave a comment</h2>
            {{pass}}
            {{pass}}


      </div>
   </body>
</html>