{{extend 'layout.html'}}
<html>

    <body class='wb-body' style="background-image:url('{{=URL('static', 'images/shark_bg.jpg')}}')">

        <div class="wb_body_wrapper">
            <div class="wb_sidebar">
                <div class="inner" title="Show My Ideas" id="my-tank-link" onclick="show('#my-tank')">
                    {{=SPAN( _class="glyphicon glyphicon-check", _style='font-size:80px;')}}
                </div>
                <div class="inner" title="Show Ideas I Contribute To" id="my-contrib-link" onclick="show('#my-contrib')">
                    {{=SPAN(_class="glyphicon glyphicon-screenshot", _style='font-size:80px;')}}
                </div>
                <div class="inner" title="Show Ideas I Follow" id="my-follow-link" onclick="show('#my-follow')">
                    {{=SPAN(_class="glyphicon glyphicon-thumbs-up", _style='font-size:80px;')}}
                </div>
                <div class="inner" title="Edit Profile" id="my-profile-link" onclick="show('#my-profile')">
                    {{=SPAN(_class="glyphicon glyphicon-lock", _style='font-size:80px;')}}
                </div>
            </div>


            <div class="wrapper nav-window" id="my-tank" style="display: inline">
                <div class="ribbon-wrapper-green">
                    <div class="ribbon-green">
                        {{=T('My Tank')}}
                    </div>
                </div>
                {{=H3(T('My Tank'))}}
                (This will contain all of my ideas.)
                <ul>
                    {{for row in my_tank_rows:}}
                        {{=LI(row.title)}}
                    {{pass}}
                </ul>
            </div>

            <div class="wrapper nav-window" id="my-contrib">
                <div class="ribbon-wrapper-green">
                    <div class="ribbon-green">
                        {{=T('My Contributions')}}
                    </div>
                </div>
                {{=H3(T('My Ocean'))}}
                (This will contain all of the ideas I contribute to)
            </div>

            <div class="wrapper nav-window" id="my-follow">
                <div class="ribbon-wrapper-green">
                    <div class="ribbon-green">
                        {{=T('Following')}}
                    </div>
                </div>
                {{=H3(T('Following'))}}
                (This will contain all of the ideas that I follow.)
            </div>

            <div class="wrapper nav-window" id="my-profile">
                <div class="ribbon-wrapper-green">
                    <div class="ribbon-green">
                        {{=T('Profile')}}
                    </div>
                </div>
                {{=H3(T('My Profile'))}}
                (This will link to an edit profile page)
            </div>
        </div>
    </body>
</html>