h1 { color:black;}
.wb-body {padding-top:50px; margin-left:0px;}
.nav-window {display:none;text-align:left;color:black;}
.sidebar_glyphicon {font-size:5vw;line-height:110px;color:black;}
.top_left {border-radius: 15px 0px 0px 0px;}

.inner {
    height: 25%;
    width: 100%;
    top:0px;
    padding: 10px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-bottom-color: black;
    border-right-color: black;
    text-align: center;
    position: relative;
    cursor: pointer;
    cursor: hand;
    vertical-align: middle;
    data-toggle:tooltip;
}



#my-profile-link {
    border-bottom-style:none;
}



.wb_body_wrapper {
    min-height: 575px;
    left: 0px;
    top: 0px;
    right: 0px;
    position: relative;


}

.wb_sidebar {
    background-color:darkgray;
    position: absolute;
    float: left;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 10%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}




.wrapper {
  padding-left: 20px;
  height:100%;
  min-height: 200px;
  background: lightgray;
  border-radius: 0px 10px 10px 0px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  left: 10%;
  right: 0px;
  width: 90%;

  position: absolute;
}


.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​